*.obj
*.o
*.d
*.lib
*.a
*.bin
*.elf
*.err
*.hex
*.exe
*.EXE
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.pdb
*.ncb
*.suo
*.sdf
*.chw
*.sfr
*.ewt
*.user
*.avrsuo
*.Debug
*.Release
*.bak
*.autosave
.qpc
version-*
JLink*.*

build*/
output/
